<h1>Advisors</h1>

<% if (advisors && advisors.length > 0) { %>

    <% advisors.forEach(advisor => { %>

        <div style="margin-bottom: 20px; border: 1px solid #ccc; padding: 10px;">

            <!-- Profile Photo -->
            <!-- <img src="<%= advisor.profile_photo %>" 
                 style="width:100px; height:100px; border-radius:50%; object-fit:cover;"> -->

            <h3><%= advisor.full_name %></h3>

            <p><strong>Email:</strong> <%= advisor.email %></p>

            <p><strong>Department:</strong> <%= advisor.department_name %></p>

            <p><strong>Academic Title:</strong> <%= advisor.academic_title %></p>

            <p><strong>Researches:</strong> <%= advisor.researches %></p>

            <p><strong>Areas of Interest:</strong> <%= advisor.areas_of_interest %></p>

            <p><strong>Available:</strong> 
                <%= advisor.is_available ? "Yes 🟢" : "No 🔴" %>
            </p>

            <a style="background-color: rgb(4, 0, 255);padding: 7px; color: white;" 
            href="/student/requests/<%= advisor.user_id %>/advisors">Request</a>

        </div>

        <hr>

    <% }) %>

<% } else { %>

    <p>No advisors found.</p>

<% } %>