<h1>My Applications</h1>

<% if (applications && applications.length > 0) { %>

    <% applications.forEach(app => { %>
        <div style="margin-bottom: 20px;">

            <h3><%= app.project_title %></h3>

            <p><strong>Type:</strong> <%= app.category_name %></p>

            <p><strong>Applied At:</strong> 
                <%= app.request_date %>
            </p>

            <p><strong>Message:</strong></p>
            <p><%= app.request_message %></p>

             <a style="padding: 8px; background-color: blueviolet; color: white;"
              href="/student/applications/<%= app.request_id%>/delete">Delete</a>

        </div>

        <hr>

    <% }) %>

<% } else { %>

    <h2 style="color: red;">No applications found.</h2>

<% } %>